name: Build image -> push to GHCR -> deploy to Azure WebApp

permissions:
  contents: read
  packages: write
  id-token: write

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Docker Buildx 
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push the Docker images to GHCR
        run: |
          IMAGE=ghcr.io/graysondeiley/azure-app-migration:latest
          docker build -t $IMAGE .
          docker push $IMAGE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Azure Client
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}


      - name: Configure App Service to use GHCR private images
        run: |
          RG="Certification-RG"
          APP="migration-webapp"
          IMAGE=ghcr.io/graysondeiley/azure-app-migration:latest
          az webapp config container set --name $APP --resource-group $RG \
            --docker-custom-image-name $IMAGE \
            --docker-registry-server-url https://ghcr.io \
            --docker-registry-server-user ${{ github.repository_owner }} \
            --docker-registry-server-password ${{ secrets.GHCR_PAT }}
